# This is a sample .gitignore file that's useful for C++ projects.
#
# Add this file to the root of your git repo.  Name it .gitignore
#
# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.

# Executables and debug files
main
*.exe
*.dSYM
*.stackdump

# Output files
*.log
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerequisites
*.d
